beautifulsoup4==4.12.3
celery==5.4.0
faiss_cpu==1.8.0
Flask==3.0.3
Flask_Cors==4.0.1
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
langchain==0.2.3
langchain_community==0.2.4
loguru==0.7.2
Markdown==3.6
numpy==1.26.4
openai==0.28.0
pandas==2.2.2
pdfkit==1.0.0
pyobjc_framework_Cocoa==10.2
pyunpack==0.3
Requests==2.32.3
sentence_transformers==3.0.0
setuptools==69.2.0
torch==2.2.2
tree_sitter==0.21.3
voyageai==0.2.3
Werkzeug==3.0.3
